
<div class="container">
  <div class="header">
    <h3>Import a CSV File</h3>
    <h5 class="msgsucceed"><%= flash[:notice] %></h5>
    <h5 class="msgerror"><%= flash[:alert] %></h5>
      <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
      <% end %>
  </div>
<script>
  $(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
); 
</script>

  <div class="box-list">
    <table id="myTable" class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>userID</th>
          <th>name</th>
          <th>smoker</th>
          <th>drink_level</th>
          <th>birth_year</th>
          <th>color</th>
          <th>weight</th>
          <th>height</th>
          <th>phone</th>
          <th>email</th>
          <th>address</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.userID %></td>
            <td><%= user.name %></td> 
            <td><%= user.smoker %></td>
            <td><%= user.drink_leve %></td>
            <td><%= user.birth_year %></td>
            <td><%= user.color %></td>
            <td><%= user.weight %></td>
            <td><%= user.height %></td>
            <td><%= user.phone %></td>
            <td><%= user.email %></td>
            <td><%= user.addres %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
